<%= content_for :styles do %>
    <%= stylesheet_link_tag "anythingslider/anythingslider" %>

    <style type="text/css">
        #home-slider {
            height: 600px;
        }

        .slider-wrapper {
            margin: 0 auto;
            margin-bottom: 20px;
        }
    </style>
<% end %>
<%= content_for :head do %>
    <%#= stylesheet_link_tag "anythingslider/anythingslider", "anythingslider/theme-metallic", "anythingslider/animate" %>

    <%= javascript_include_tag "anythingslider/jquery.anythingslider.min" %>

    <script>
        $(function () {
            $('#home-slider').anythingSlider({
              //  theme:'metallic',
               // expand:true,
                //resizeContents: false,
                autoPlay:false
            });


        });
    </script>
<% end %>

<div class="span12 slider-wrapper">
  <ul id="home-slider">
    <% @popular_photos.each do |photo| %>
        <li><%= image_tag photo.attachment.largest.url %></li>
    <% end %>
  </ul>
</div>
