<h2><%= @album.title %></h2>
<%= render :partial => 'photos/row_collections' %>

<p><%= @album.description %></p>

<% unless @album.photo_tags.empty? %>
    <p>Tagged with:
      <% for tag in @album.photo_tags.map { |tag| tag.title }.sort %>
          <%= link_to tag, album_tag_photos_path(@album, tag) %>
      <% end %>
    </p>
<% end %>

<% unless @album.collections.empty? %>
    <p>Part of:
      <% for collection in @album.collections.order('title') %>
          <%= link_to collection.title, collection_path(collection) %>
      <% end %>
    </p>
<% end %>


<% if current_user and current_user.has_role?("admin") %>
    <p><%= @album.address %></p>
    <p><%= @album.note %></p>
<% end %>



<%= content_for :action_links do %>
    <% if current_user and current_user.has_role?("admin") %>
        <% if params[:collection_id] %>
            <li><%= link_to "PDF", collection_album_path(params[:collection_id], @album, :format => 'pdf') %></li>
            <li><%= link_to "Edit album", edit_collection_album_path(params[:collection_id], @album) %></li>
            <li><%= link_to "Edit all photos", edit_multiple_collection_album_photos_path(params[:collection_id], @album) %></li>
            <li><%= link_to "Edit untouched photos", untouched_collection_album_photos_path(params[:collection_id], @album) %></li>
            <li><%= link_to "Add photos", upload_collection_album_photos_path(params[:collection_id], @album) %></li>
        <% else %>
            <li><%= link_to "PDF", album_path(@album, :format => 'pdf') %></li>
            <li><%= link_to "Edit album", edit_album_path(@album) %></li>
            <li><%= link_to "Edit all photos", edit_multiple_album_photos_path(@album) %></li>
            <li><%= link_to "Edit untouched photos", untouched_album_photos_path(@album) %></li>
            <li><%= link_to "Add photos", upload_album_photos_path(@album) %></li>
        <% end %>

    <% end %>
<% end %>